body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container Boxes */
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header , 
.headcontent {
    background-color: #1F2937;
    color: #ffffff;
}

/* Navbar */
.navbar {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
    margin-left: auto;
    margin-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
    gap: 30px;
    transition: all .2s ease-in-out;
}

ul :hover {
    color: #ffffff;
    transform: scale(1.2);
}

li :hover {
    border-bottom: 1px solid #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-right: auto;
    margin-left: 200px;
}

/* Hero box */
.headcontent {
    padding: 16px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.headcontent h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.headcontent-left,
.headcontent-right {
    flex: 1;
}

.headcontent-right {
    background-color: grey;
}

.placeholder-img {
    background-color: grey;
    width: 250px;
    height: 150px;
    align-content: center;
    margin: 15px;
}

/* Some random information Box */
.content {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.contenttitle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.minibox{
    max-width: 150px;
}

.text {
    margin-top: 10px;;
}

.miniboximg {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

/* Quote Box */
.quotecontainer {
    background-color: #E5E7EB;
    display: flex;
}

.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quotesource {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    margin-left: auto;
    margin-top: 0px;
}

/* Call to action Box */
.sign-up-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 80px;
}

.sign-up-box {
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
    padding: 30px 80px 30px 80px;
    background-color: #3882F6;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.sign-up-box h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.sign-up-left {
    flex: 4;
}

.sign-up-right {
    flex: 1;
}

/* Sign-up and call-to-action button */
button {
    background-color: #3882F6;
    padding: 8px;
    min-width: 100px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.action {
    border: 1px solid #ffffff;
}

/* Footer */
.footer {
    padding: 16px;
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    margin: 0px;
    justify-content: center;
    margin-top: auto;
    flex-grow: 0;
    flex-shrink: 0;
}