body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header , 
.headcontent {
    background-color: #1F2937;
    color: #ffffff;
}

.navbar {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
    margin-left: auto;
    margin-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
    gap: 30px;
    transition: all .2s ease-in-out;
}

ul :hover {
    color: #ffffff;
    transform: scale(1.2);
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-right: auto;
    margin-left: 200px;
}

.headcontent {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

.headcontent h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.headcontent-left {
    flex: 1;
}

.headcontent-right {
    flex:1;
    align-content: center;
    justify-content: center;
}

.placeholder-img {
    background-color: grey;
    width: 250px;
    height: 150px;
    align-content: center;
    margin: 15px;
}

.content {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.quote {
    padding: 20px;
    margin: 0px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #000000;
    display: flex;
    justify-content: center;
}

.sign-up-box {
    padding: 30px;
    background-color: #3882F6;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

button {
    background-color: #3882F6;
    padding: 8px;
    min-width: 100px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.action {
    border: 1px solid #ffffff;
}

.footer {
    padding: 16px;
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    margin: 0px;
    justify-content: center;
}